.articleContainer {
  display: flex;
  margin: auto;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 30px;
  color: black;
  padding: 0 2em ;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 75%;
}

.sectionWeather {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.sectionWeather img {
  margin: auto;
}

.informationWeather > * {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1em;
}

.sectionPronostico {
  width: 65%;
}

.sectionPronostico > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.informationForecast > * {
  display: flex;
  flex-direction: column;
}

.temp {
  padding: 0 2em;
}

.imgForecast{
  width: 75%;
  margin: auto;
}

.entry {
  display: flex;
}

.key {
  flex: 1;
  text-align: left;
}

.value {
  flex: 2;
  text-align: right; 
}

/* Loader */
.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 130px;
  height: var(--height-of-loader);
  margin: auto;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
